<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="NationalBasketballAssociationDB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.;Initial Catalog=NationalBasketballAssociation_DB;Integrated Security=True"></add>
  </connectionStrings>
</configuration>